@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$font1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font2: 'Dancing Script', cursive;
$color1: rgb(245, 199, 138);
$color2: white;
$color3: rgb(247, 164, 139);
$color4: rgb(248, 154, 120);
$color5: rgb(253, 239, 234);
$color6: lightsalmon;
$color7: honeydew;
$color8: rgb(247, 206, 152);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: auto;
    width: 100%;
    background-color: $color1;
    font-size: 25px;
    padding: 10px;
}

.logo{
    height: 130px;
    border: 2px solid $color4;
}
.barra{
    float:right;
    padding: 8%;
}
.barra ul li{
    list-style: none;
    display: inline-block;
}
.barra a{
    text-decoration: none;
    color: $color2;
}
.barra a:hover{
    color: $color1;
    text-decoration: underline;
}

.navbar{
    background-color: $color1 !important;
    float: right;
}

main{
    width: 100%;
    background-color: $color5;
}

h3{
    color: $color4;
    margin: 20px;
    font-family: $font2;
    font-size: 30px;
}

.img-lenceria{
    background-color: $color2;
    background-image: url(../imagen/blanco.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.titulo-lenceria a{
    color: $color6;
    background-color: $color7;
    padding: 10px 20px;
    float: right;

}

h1{
    font-family: $font2;
    font-size: 40px;
    color: $color4;
    text-align: center;
}

h2{
    text-align: center;
    background-color: $color8;
    font-weight: bold;
    padding: 10px;
    font-family: $font2;
    color: $color2;
    font-size: 30px;
}

.sec{
    width: 100%;
    height: auto;
}

.sec1{
    height: 400px;
}

p{
    font-size: 20px;
    color: $color4;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
}

table{
    color: $color6;
    font-size: 20px;
    border-color: $color4;
    margin-top: 10%;
    margin-left: 20%;
}

footer{
    text-align: center;
    font-size: 20px;
    background-color: $color1;
    position: relative;
    bottom: 0;
}

form{
    width: 20%;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    color: $color6;
}

input::placeholder{
    color: $color6;
}

.imagen{
    height: 80%;
}

.grilla{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img4 img5 img3 img3"
    "img4 img6 img7 img8"
    ;
    grid-gap: 10px;
}

.item{
    border: 2px solid $color6;
    background-size: cover;
    background-position: center;
    border-radius: 9px;
}

.item1{
    grid-area: img1;
    background-image: url(../imagen/gris.jpg);
}
.item2{
    grid-area: img2;
    background-image: url(../imagen/blanco.jpg);
}
.item3{
    grid-area: img3;
    background-image: url(../imagen/bordo.jpg);
}
.item4{
    grid-area: img4;
    background-image: url(../imagen/beige.jpg);
}
.item5{
    grid-area: img5;
    background-image: url(../imagen/rosa.jpg);
}
.item6{
    grid-area: img6;
    background-image: url(../imagen/sombrero.jpg);
}
.item7{
    grid-area: img7;
    background-image: url(../imagen/verde.jpg);
}
.item8{
    grid-area: img8;
    background-image: url(../imagen/Logo\ 3.jpg);
}

@media screen and (max-width: 700px){
    .logo{
        height: 70px;
    }
}